<!-- <div class="Backdrop">
  <div class="Lightbox">

  </div>
</div> -->
<div id="defaultModal" tabindex="-1" aria-hidden="true" [ngClass]="show ? 'block' : 'hidden'" 
  class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
  <div class="relative top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 p-4 w-full max-w-2xl h-full md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex justify-between items-start p-8 rounded-t border-b dark:border-gray-600">
        <ng-content select="[header]"></ng-content>
        <div type="button" (click)="onClickCloseApp()"
          class="cursor-pointer py-2 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg p-1.5 ml-auto inline-flex items-start dark:hover:bg-gray-600 dark:hover:text-white">
          <fa-icon [icon]="faXmarkCircle" size="lg"></fa-icon>
          <span class="sr-only">Close modal</span>
        </div>
      </div>
      <!-- Modal body -->
      <ng-content></ng-content>
      <!-- Modal footer -->
      <ng-content select="[footer]"></ng-content>
    </div>
  </div>
</div>