<div class="Topics p-4 w-4/5 mx-auto my-0">
  <app-share-header></app-share-header>
  <div class="row">
    <div class="col-md-12">
      <!-- <app-topic-list [topics]="topics" 
    (selectedTopic)="onClickSelectTopic($event)"
    ></app-topic-list> -->
      <app-topic-list [topics]="topics"></app-topic-list>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- <app-topic-detail (clickClearSelection)="onClickClearSelection()" [topic]="selectedTopic"></app-topic-detail> -->
      <app-topic-detail></app-topic-detail>

    </div>
  </div>
</div>