<!-- <a 
class="Memo-Item cursor-pointer flex flex-row justify-between hover:no-underline no-underline border p-4" 
>
    <div class="flex justify-center items-center">
      <div>{{memo?.question}}: <strong>{{memo?.content}}</strong></div>
    </div>
    <div class="">
      <button class="btn btn-danger" (click)="onClickDeleteMemo()">Delete</button>
    </div>
</a> -->

<div (click)="onSelect()" class="Memo-Item h-auto hover:bg-gray-50 cursor-pointer hover:no-underline no-underline border p-6 bg-white rounded-xl" *ngIf="memo">
  <div class="font-bold">{{memo.question}}</div>
  <div>{{memo.content}}</div>
</div>