<nav class="w-full border-b h-32 flex justify-start items-center">
  <div class="w-10/12 flex justify-between items-center mx-auto my-0">
    <div class="Header-Link">
      <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <div routerLink="/"
        class="text-gray-500 hover:text-blue-900  font-bold cursor-pointer box-border mr-4 inline-block"
        routerLinkActive="Active" [routerLinkActiveOptions]="{exact: true}" [queryParams]="{test: 'test'}">
        <img class="w-36" src="../../assets/icons/logo.png" alt="" />
      </div>
    </div>
    <div class="Header-Link w-fit">
      <ul class="flex flex-row m-0 w-fit">
        <li class="text-gray-500 hover:text-blue-900 font-bold h-full px-4 py-8 cursor-pointer"
          routerLinkActive="Active" [routerLinkActiveOptions]="{exact: true}" routerLink="/memo">
          <fa-icon [icon]="faNoteSticky"></fa-icon>
               Memo
        </li>
        <li class="text-gray-500 hover:text-blue-900 font-bold h-full px-4 py-8 cursor-pointer"
          routerLinkActive="Active" [routerLinkActiveOptions]="{exact: true}" routerLink="/topic">
          <fa-icon [icon]="faBrain"></fa-icon>
          Topic
        </li>
      </ul>
    </div>
    <div class="Header-Link w-fit">
      <ul class="flex flex-row m-0">
        <ng-template [ngIf]="user" [ngIfElse]="elseUser">
          <li *ngIf="user; else elseUser" class="flex flex-row items-center text-black font-bold px-4 cursor-pointer">
            <img *ngIf="user.avatar; else elseAvatar" class="rounded-full w-12 aspect-square" [src]="user.avatar"
              [alt]="user.name" />
            <ng-template #elseAvatar>
              <img class="rounded-full w-12 h-12 bg-sky-800" />
            </ng-template>
            <span class="m-4">{{user.name}}</span>
          </li>
          <li class="text-black font-bold h-full px-4 py-8 cursor-pointer" (click)="onClickLogout()">Logout</li>
        </ng-template>
        <ng-template #elseUser>
          <li class="text-black font-bold h-full px-4 py-8 cursor-pointer" routerLink="/auth/signup"
            routerLinkActive="Active" [routerLinkActiveOptions]="{exact: true}">
            Register
          </li>
          <li class="dropdown text-black font-bold h-full px-4 py-8 cursor-pointer" appDropdown>
            <span class="dropdown-toggle" role="button">Manage</span>
            <ul class="dropdown-menu right-0">
              <li><a href="#">Save Data</a></li>
              <li><a href="#">Fetch Data</a></li>
            </ul>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>