<nav class="w-full border-b h-fit flex justify-start items-center">
    <div class="Header-Main w-fit h-full">
      <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
      <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <span routerLink="/" class="text-black font-bold cursor-pointer pr-4 py-8 inline-block" routerLinkActive="Active" [routerLinkActiveOptions]="{exact: true}">Memorization</span>
    </div>
    <div class="Header-Link w-full flex flex-row justify-between items-center">
      <ul class="flex flex-row m-0">
        <li class="text-black font-bold h-full px-4 py-8 cursor-pointer" routerLinkActive="Active" [routerLinkActiveOptions]="{exact: true}" routerLink="/memo" (click)="onClickSelectNav('memo')">
          Memo</li>
        <li class="text-black font-bold h-full px-4 py-8 cursor-pointer" routerLinkActive="Active"[routerLinkActiveOptions]="{exact: true}"  routerLink="/topic" (click)="onClickSelectNav('topic')">Topic</li>
      </ul>
      <ul class="flex flex-row m-0">
        <li class="text-black h-full px-4 cursor-pointer" routerLink="/auth" routerLinkActive="Active"[routerLinkActiveOptions]="{exact: true}" class="cursor-pointer"><a (click)="onClickSelectNav('auth')">Signin</a></li>
        <li class="dropdown text-black h-full px-4 cursor-pointer" appDropdown>
          <a href="#" class="dropdown-toggle" role="button">Manage</a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
</nav>