.App-Container {
  // height: calc(100vh - 8rem);
  height: 100vh;
}

.Long-Word {
  white-space: nowrap;
  width: 25%;
  overflow: hidden;
  text-overflow: ellipsis;
  // width: inherit;
}

.Ellipsis {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  max-width: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
}