<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-7 form-group">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7 form-group">
          <label for="question">Question</label>
          <input type="text" id="question" name="question" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7 form-group">
          <label for="content">Answer</label>
          <input type="text" id="content" name="content" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-success">Add</button>
            <button class="btn btn-danger">Edit</button>
            <button class="btn btn-primary">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>