<a class="list-group-item clearfix cursor-pointer" *ngIf="topic" (click)="onSelectTopic()">
  <div class="pull-left">
    <h4 class="list-group-item-heading"> {{topic.title}} - {{topic.id}}</h4>
    <p class="list-group-item-text">Description: {{topic.description}} </p>
  </div>
  <span class="pull-right">
    <!-- <img src="/" alt="" class="img-responsive" style="max-height: 50px;"> -->
    <div class="flex flex-row">
      <button (click)="onClickDeleteTopic($event)" class="mr-4 inline-block btn btn-danger">Delete</button>
      <div class="img-responsive" [ngStyle]="{backgroundColor:'#123123', width: '3.5rem', height: '3.5rem'}"></div>

    </div>
  </span>
</a>