<app-lightbox [show]="show" (toggle)="onToggleHandler($event)">
  <div header class="py-4">
    <h3 class="font-semibold m-0 mb-4 text-gray-900 dark:text-white">Schedule</h3>
    <div class="text-gray-500">Submit to create remider schedule for topic</div>
  </div>
  <div class="p-8">
    <div class="flex justify-between">
      <label for="LevelSchedule">Level</label>
      <app-dropdown (select)="onSelectLevel($event)" [options]="levelDropdownOptions" [value]="levelDropdownOptions[0]">
      </app-dropdown>
    </div>
    <hr />
    <div class="flex justify-between">
      <label for="StatusSchedule">Status</label>
      <app-dropdown (select)="onSelectStatus($event)" [options]="statusDropdownOptions"
        [value]="statusDropdownOptions[0]"></app-dropdown>
    </div>
    <hr />
    <div class="">
      <label for="TimeSchedule">Time</label>
      <input name="TimeSchedule" id="TimeSchedule" type="date"
        class="w-full outline-0 p-4 cursor-pointer border border-gray-100 bg-gray-100 rounded-xl"
        [ngModel]="date | date:'yyyy-MM-dd'" (ngModelChange)="date = $event" />
      <!-- <input name="TimeSchedule" id="TimeSchedule" type="date" [(ngModel)]="schedule.time | date:'yyyy-MM-dd'" /> -->
    </div>
  </div>
  <div footer class="flex items-center px-8 py-12 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
    <button data-modal-toggle="defaultModal" type="button"
      class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      (click)="onSubmitHandler()">
      Create
    </button>
    <button data-modal-toggle="defaultModal" type="button"
      class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
      (click)="onToggleHandler(false)">
      Cancel
    </button>
    <span class="ml-4 p-4" *ngIf="error">{{error}}</span>
  </div>
</app-lightbox>