.Home {
  height: calc(100vh - 8rem);
}

.Home-Intro {
  background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
  box-shadow: .25rem .5rem .5rem 0 #ccc;
  height: 30rem;
}

