<!-- Ver 1 -->
<!-- <div class="p-4 w-4/5 mx-auto my-0">
  <div class="row">
    <div class="col-xs-12">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>Topic Name</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-left">
        <div class="btn-group" appDropdown>
          <button class="btn btn-primary dropdown-toggle">Topic Manage
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">To MemoList</a></li>
            <li><a href="#">Edit Topic</a></li>
            <li><a href="#">Delete Topic</a></li>
          </ul>
        </div>
      </div>
      <div class="pull-right" *ngIf="topic">
        <button class="btn btn-danger">Clear</button>
      </div>
    </div>
  </div>
  <hr />
  <div class="" *appUnless="topic">
    There no topic was selected
  </div>
  <div *ngIf="topic" class="Topic flex flex-row">
    <div class="w-1/3 ">
      <div class="image-background">
      </div>
    </div>
    <div class="w-2/3 p-2 border-2 flex flex-col">
      <div class="" appHighlight="red" [defaultColor]="'black'" style="font-weight: bold;">
        {{topic.title}}
      </div>
      <div class="">
        {{topic.description}}
      </div>
      <div class="">
        <div class="font-bold">Schedule on</div>
        <div class="Topic-Card box-border">
          <div class="Topic-Card-Item flex flex-column justify-between"
            *ngFor="let rep of topic?.repetition; let i = index">
            <div class="Topic-Status w-2/3 ">
              <div class="bg-lime-500 h-1/2 text-slate-50 px-4 py-2">{{rep.level}}</div>
              <div class="bg-slate-500 h-1/2 text-slate-50 px-4 py-2">{{rep.status}}</div>
            </div>
            <div class="Topic-Date w-1/3">
              <div class="Header">
                {{rep.time | date:'MMM'}}
              </div>
              <div class="Body">{{rep.time | date:'dd'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <ng-template *appUnless>
  <div class="" *appUnless="topic">
    There no topic was selected
  </div>
</ng-template> -->

<!-- 
<div class="Topic-Detail w-5/6  mx-auto">
  <div class="Topic-Detail-Header flex-col items-center justify-between rounded-xl p-8 my-8" *ngIf="topic">
    <div class="flex justify-between">
      <div class="flex ">
        <div class="">
          <img class="bg-center rounded-full w-16 h-16" *ngIf="topic.author.avatar else defaultImage"
            [src]="topic.author.avatar" />
          <ng-template #defaultImage>
            <div class="w-16 h-16 bg-slate-600 rounded-full"></div>
          </ng-template>
        </div>
        <div class="flex items-center ml-4">
          <strong class="bg-gray-100 p-4 ml-2">
            {{topic.author.name}}
          </strong>
          <span *ngIf="topic && topic.created_date"> {{(topic.created_date * 1000) | date:'medium'}}</span>
        </div>
      </div>
      <div>
        <button class="p-4 border  text-blue-500 text-2xl hover:bg-blue-500 hover:text-white bg-white rounded-xl">
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
      </div>
    </div>
    <div>
      <h2 class="font-bold">{{topic.title}}</h2>
      <div class="">{{topic.description}}</div>
    </div>
  </div>
  <div class="Topic-Detail-Body pb-8 bg-gray-100 py-4">
    <div class="flex flex-row">
      <div class="Topic-Detail-Section w-1/2 text-left mx-auto cursor-pointer " *ngFor="let tab of tabs"
        (click)="onChangeCurrentTab(tab.name)">
        <h3 [ngClass]="tab.name === currentTab.name ? 'border-b-4 border-blue-600' : ''"
          class="font-semibold py-11 my-0 mb-4 mx-auto flex justify-center items-center">
          <fa-icon class="text-blue-600" [icon]="tab.icon"></fa-icon>
          <span class="ml-4 ">{{tab.name}}</span>
        </h3>
      </div>
    </div>
    <div [ngSwitch]="currentTab.name">
      <ng-template [ngSwitchCase]="tabs[0].name">
        <div class="flex flex-row justify-evenly">
          <app-job-card-list [topic]="topic" [schedules]="schedules"></app-job-card-list>
          <app-job-card-list [topic]="topic" [schedules]="schedules"></app-job-card-list>
        </div>
      </ng-template>
      <ng-template [ngSwitchCase]="tabs[1].name">
        <div class="Memo flex flex-row pl-4 pr-0">
          <app-memo-list [memos]="memos"></app-memo-list>
        </div>
      </ng-template>
    </div> -->
<!-- <div class="Topic-Detail-Section w-1/3 text-left mx-auto rounded-2xl">
      <h3 class="font-semibold py-11 my-0 mb-4 mx-auto flex items-center">
        <fa-icon class="text-blue-600" [icon]="faClock"></fa-icon>
        <span class="ml-4 "> Space Repetition</span>
      </h3>
      <app-job-card [topic]="topic" [schedules]="schedules"></app-job-card>
    </div>
    <div class="w-2/3">
      <h3 class="font-semibold pl-4 py-8 my-0 mb-4 text-left mx-auto items-center flex justify-between">
        <div>
          <fa-icon class="text-blue-600" [icon]="faBrain"></fa-icon>
          <span class="ml-4 ">Memo Recall</span>
        </div>
        <div>
          <button class="p-4 border text-blue-500 text-2xl hover:bg-blue-500 hover:text-white bg-white rounded-xl mr-2"
            (click)="onReloadMemo()">
            <fa-icon [icon]="faRotateRight"></fa-icon>
          </button>
          <button class="p-4 border text-blue-500 text-2xl hover:bg-blue-500 hover:text-white bg-white rounded-xl"
            (click)="onToggleCreatingMemo(true)">
            <fa-icon [icon]="faPlusCircle"></fa-icon>
          </button>
        </div>
      </h3>
      <app-memos *ngIf="memos" [memos]="memos"></app-memos>
    </div> -->
<!-- </div>
</div> -->

<!-- Ver 2 -->
<!-- <button class="p-4 border text-blue-500 text-2xl hover:bg-blue-500 hover:text-white bg-white rounded-xl mr-2"
  (click)="onReloadMemo()">
  <fa-icon [icon]="faRotateRight"></fa-icon>
</button>
<button class="p-4 border text-blue-500 text-2xl hover:bg-blue-500 hover:text-white bg-white rounded-xl"
  (click)="onToggleCreatingMemo(true)">
  <fa-icon [icon]="faPlusCircle"></fa-icon>
</button>


<app-memo-creating-modal [show]="showCreatingMemo" (toggle)="onToggleCreatingMemo($event)"
  (submit)="onSubmitCreatingMemo()"></app-memo-creating-modal>
<app-memo-detail-modal [show]="showDetailMemo" (toggle)="onToggleDetailMemo($event)"></app-memo-detail-modal> -->

<!-- Ver 3 -->
<div class="Topic-Detail pb-4 px-16 mx-auto my-0">
  <app-share-header>
    <div LeftSection
      class="mr-4 p-4 border bg-white text-gray-900 hover:bg-gray-900 hover:text-white cursor-pointer rounded-xl"
      [routerLink]="['/topic']">
      <fa-icon size="xl" [icon]="faCaretLeft"></fa-icon>
      Topics
    </div>
  </app-share-header>
  <hr />
  <h2 class="font-bold my-12">Topic: {{ topic?.title || "" }}</h2>
  <hr />
  <div class="Memo-Control mb-4 flex justify-between">
    <div class="Left-Control flex">
      <div class="mr-4 p-4 border hover:bg-gray-900 hover:text-white cursor-pointer rounded-xl"
        (click)="onSelectCategory('Memo')" [ngClass]="
          selectedTab === 'Memo'
            ? 'bg-gray-900 text-white'
            : 'bg-white text-gray-900'
        ">
        <fa-icon [icon]="faNoteSticky"></fa-icon>
        Memo
      </div>
      <div class="p-4 border hover:bg-gray-900 hover:text-white cursor-pointer rounded-xl" [ngClass]="
          selectedTab === 'Schedule'
            ? 'bg-gray-900 text-white'
            : 'bg-white text-gray-900'
        " (click)="onSelectCategory('Schedule')">
        <fa-icon [icon]="faCalendar"></fa-icon>
        Schedule
      </div>
    </div>
    <div class="Right-Control flex">
      <div *ngIf="selectedTab === 'Memo'; else ScheduleControl"
        class="ml-4 p-4 border hover:bg-gray-900 hover:text-white cursor-pointer rounded-xl bg-white text-gray-900"
        (click)="onToggleCreatingMemo(true)">
        <fa-icon [icon]="faPlusCircle"></fa-icon>
        Add Memo
      </div>
      <ng-template #ScheduleControl>
        <div class="ml-4 p-4 border hover:bg-gray-900 hover:text-white cursor-pointer rounded-xl bg-white text-gray-900"
          (click)="onToggleCreatingSchedule(true)">
          <fa-icon [icon]="faPlusCircle"></fa-icon>
          Add Schedule
        </div>
      </ng-template>
    </div>
  </div>
  <hr />
  <app-memo-list *ngIf="selectedTab === 'Memo'" [topic]="topic" [memos]="memos"></app-memo-list>
  <div class="Wrap-Calendar flex" *ngIf="selectedTab === 'Schedule'">
    <app-calendar class="w-2/3 mr-4" [schedules]="schedules"></app-calendar>
    <div class="w-1/3 border Selected-Info border-gray-300">
      <app-scroll-bar>
        <div class="Schedule flex justify-between h-36 p-6" *ngFor="let schedule of schedules; let i = index" [ngClass]="
            i % 2 === 0 ? 'bg-sky-700 text-white' : 'bg-white text-gray-800'">
          <div class="w-3/5 Ellipsis">{{ schedule.topic.title }}</div>
          <div class="flex flex-col">
            <div>{{ schedule.time * 1000 | date }}</div>
            <div>{{ schedule.level | titlecase }}</div>
            <div> {{ schedule.status | titlecase}}</div>
          </div>
        </div>
      </app-scroll-bar>
    </div>
  </div>
</div>

<app-memo-creating-modal [show]="showCreatingMemo" (toggle)="onToggleCreatingMemo($event)"
  (submit)="onSubmitCreatingMemo()"></app-memo-creating-modal>
<app-memo-detail-modal [show]="showDetailMemo" (toggle)="onToggleDetailMemo($event)"></app-memo-detail-modal>
<app-schedule-creating-modal [show]="showCreatingSchedule" (toggle)="onToggleCreatingSchedule($event)">
</app-schedule-creating-modal>