div.long-word {
  white-space: nowrap;
  width: 25%;
  overflow: hidden;
  text-overflow: ellipsis;
  // width: inherit;
}

.image-background {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: lightblue;
}

.Topic {
  &-col {
    padding: 0.5rem;
  }

  &-Card {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.25rem;

    &-Item {
      padding: 0.5rem 0;
      box-sizing: border-box;
      width: 100%;
    }
  }

  &-Date {
    background-color: #fff;

    .Body,
    .Header {
      padding: 1rem 2rem;
      font-weight: bold;
      text-align: center;
      // box-sizing: border-box;
    }
    .Header {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      color: white;
      background-color: rgb(175, 4, 4);
    }

    .Body {
      font-size: 2.25rem;
      background-color: #eeeeee;
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }
}
