<div class="row">
  <div class="col-xs-12">
    <!-- <div class="img-responsive"  [ngStyle]="{backgroundColor:'#123123', width: '3.5rem', height: '3.5rem'}"></div> -->
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Topic Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">Topic Manage
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To MemoList</a></li>
        <li><a href="#">Edit Topic</a></li>
        <li><a href="#">Delete Topic</a></li>
      </ul>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-3">
    ID
  </div>
  <div class="col-xs-3">
    Title
  </div>
  <div class="col-xs-3">
    Description
  </div>
  <div class="col-xs-3">
    Scheduled on
  </div>
</div>
<div class="row">
  <div class="col-xs-3 long-word">
    {{topic?.id}}
  </div>
  <div class="col-xs-3">
    {{topic?.title}}
  </div>
  <div class="col-xs-3">
    {{topic?.description}}
  </div>
  <div class="col-xs-3">
    <div *ngFor="let rep of topic?.repetition">
      <div class="row">
        <div class="col-xs-4">
          Date: {{rep.time}}
        </div>
        <div class="col-xs-4">
          Severity: {{rep.level}}
        </div>
        <div class="col-xs-4">
          Status: {{rep.status}}
        </div>
      </div>
    </div>
  </div>
</div>