<div class="row">
  <div class="col-xs-12">
    <!-- <div class="img-responsive"  [ngStyle]="{backgroundColor:'#123123', width: '3.5rem', height: '3.5rem'}"></div> -->
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Topic Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">Topic Manage
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To MemoList</a></li>
        <li><a href="#">Edit Topic</a></li>
        <li><a href="#">Delete Topic</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Title
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Schedule on
  </div>
</div>