<div class="row">
  <div class="col-xs-12">
    <!-- <div class="img-responsive"  [ngStyle]="{backgroundColor:'#123123', width: '3.5rem', height: '3.5rem'}"></div> -->
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Topic Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">Topic Manage
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To MemoList</a></li>
        <li><a href="#">Edit Topic</a></li>
        <li><a href="#">Delete Topic</a></li>
      </ul>
    </div>
  </div>
</div>
<hr />
<div *ngIf="topic" class="row Topic">
  <div class="col-xs-4">
    <div class="image-background">
    </div>
  </div>
  <div class="col-xs-8">
    <div class="row" style="font-weight: bold;">
      {{topic.title}}
    </div>
    <div class="row">
      {{topic.description}}
    </div>
    <div class="row">
      <div class="Topic-Card">
        <div class="Topic-Card-Item" *ngFor="let rep of topic?.repetition; let i = index"
          style="margin-bottom: .75rem;">
          <div class="Date">
            <div class="Header">
              {{rep.time | date:'MMM'}}
            </div>
            <div class="Body">{{rep.time | date:'dd'}}</div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Severity: {{rep.level}}
            </div>
            <div class="col-xs-6">
              Status: {{rep.status}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>